body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9f9f9;
}

.seperator {
    height: 120px;
    width: 97%;
    background: transparent;
  }

.banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97%;
    height: 100px;
    background: linear-gradient(to right, #191919, #232323);
    border-radius: 50px;
    color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
    box-shadow: 4px 4px 20px 2px #000000ff;
    border: 2px solid #121212;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    /* width: 97%; */
    /* height: 700px;
    height: 60vw; */
    border: 2px solid #f9f9f9;
    background: #343434;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

picture {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.text {
    position: absolute;
    width: 40%;
    height: 80%;
    background: #0d0d0dcc;
    padding: 20px 20px;
    margin-right: 40px;
    border-radius: 50px;
}

.resume {
    text-align: center;
}

.resume .text {
    background: transparent;
}

.resume .text img {
    border-radius: 50px;
    opacity: 0.8;
}

.resume .text img:hover {
    /* transition: 0.3s; */
    opacity: 1;
}

.bio .text {
    font-size: 1.5vw;
}

.reviews {
    align-items: center;
}

.reviews .text {
    width: 90%;
    margin: 0;
}

.links .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: transparent;
}

iframe {
    border-radius: 50px;
    width: 100%;
    padding: 5px;
}

a {
    color: #f9f9f9;
}

a:visited {
    color: #f9f9f9;
}

a:hover {
    color: #ff0000;
}

.fa {
    font-size: 200px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }



  /* Image Carousel */

  img {
    width: 97%;
  }
  .slider-container {
    height: 600px;
    height: 60vw;
    width: 97%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid white;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,
  .menu label:focus {
    background: #1c87c9;
  }
  .slide {
    width: 100%;
    height: 500px;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  .slide-1 {
    background-image: url("images/divide.png");
  }
  .slide-2 {
    background-image: url("images/headshot2.jpg");
  }
  .slide-3 {
    background-image: url("images/pic03.jpg");
  }
  .slide-4 {
    background-image: url("images/pic04.jpg");
  }
  .slide-5 {
    background-image: url("images/pic05.jpg");
  }
  .slide-6 {
    background-image: url("images/watson.png");
  }
  .slide-7 {
    background-image: url("images/fagin.jpg");
  }
  .slide-8 {
    background-image: url("images/pic08.jpg");
  }
  .slide-9 {
    background-image: url("images/pic09.jpg");
  }
  .slide-10 {
    background-image: url("images/pic10.jpg");
  }
  .slide-11 {
    background-image: url("images/Autolycus.jpg");
  }
  .slide-12 {
    background-image: url("images/Jacques.jpeg");
  }
  .slide-1, .slide-2, .slide-3, .slide-4, .slide-5, .slide-6, .slide-7, .slide-8, .slide-9, .slide-10, .slide-11, .slide-12 {
    background-size: contain;
    background-repeat: no-repeat;
  }



  /* review slider */

  .content-slider {
    width: 100%;
    /* height: 360px; */
    height: 100%;
  }
  
  .slider {
    /* height: 320px; */
    height: 100%;
    width: 100%;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    /* height: 500px; */
    height: 800px;
    height: 100%;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 100%;
    /* height: 320px; */
    position: absolute;
    top: -325px;
    list-style: none;
  }
  
  .slider .quote {
    /* font-size: 30px; */
    font-size: 2.5vw;
    font-style: italic;
    color: #f9f9f9;
    padding: 0 10px;
    /* flex-wrap: wrap; */
  }
  
  .slider .source {
    font-size: 20px;
    font-size: 2.5vw;
    padding-right: 20px;
    text-align: right;
  }

  .slider li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  .slider li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  .slider li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  .slider li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  .slider:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -325px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }







@media (min-width: 200px) {
  .banner {
    position: static;
    flex-direction: column;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search {
    display: none;
  }

  .seperator {
    height: 5px;
  }

  .box {
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 90vh;
    height: 200vw;
  }

  .text {
    width: 90%;
    padding: 5px;
    margin-right: 0;
    border-radius: 0;
  }

  .resume .text img {
    border-radius: 0;
    object-fit: fill;
  }

  .bio .text {
    font-size: 16px;
  }
  .bio {
    height: 200vw;
  }

  iframe {
    border-radius: 0;
}

  .slider-container {
    height: 50vh;
  }

  .slide {
    height: 50vh;
    padding: 0;
  }

  .slider .quote {
    font-size: 16px;
  }

  .slider .source {
    font-size: 20px;
  }
}




@media (min-width: 768px) {
  .banner {
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 97%;
    height: 100px
  }

  .search {
    display: contents;
  }

  .seperator {
    height: 120px;
  }

  .box {
    align-items: flex-end;
    justify-content: center;
    width: 97%;
    height: 60vw;
  }

  .text {
    width: 40%;
    padding: 20px 20px;
    margin-right: 40px;
    border-radius: 50px;
  }

  .resume .text img {
    border-radius: 50px;
  }

  .bio .text {
    font-size: 1.5vw;
  }

  iframe {
    border-radius: 50px;
}

  .slider-container {
    height: 60vw;
  }

  .slide {
    height: 50vw;
    padding: 8em 1em 0;
    padding: auto;
  }

  .slider .quote {
    font-size: 2.5vw;
  }

  .slider .source {
    font-size: 2.5vw;
  }
}



@media (min-width: 1440px) {
  .banner {
    width: 1396px;
  }

  .box {
    width: 1380px;
    height: 864px;
  }

  .bio .text {
    font-size: 22px;
  }

  .slider .quote {
    font-size: 36px;
  }

  .slider .source {
    font-size: 36px;
  }
}